<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 p-3 p-md-5 bg-white">
            <div class="text-center mt-5">
                <p class="fs-3">StackOver<b>Soul</b></p>
            </div>
            <div class="mb-3 mt-5">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuario">
            </div>
            <div class="mb-5">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha">
            </div>
            <div class="my-5">
                <button type="submit" class="btn mt-4 w-100">Entrar</button>
            </div>
        </div>
    </div>
</div>
