<div class="container pt-5">
    <div class="row gx-0 gx-lg-5 justify-content-between">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            <app-search></app-search>
            <app-list-feed></app-list-feed>
        </div>
        <div class="col-12 col-lg-4 p-0 mb-4 md-lg-0 order-1 order-lg-2">
            <div class="card car-area bg-white">
                <div class="card-header bg-white">
                    <h6 class="card-title m-1">Tags</h6>
                </div>
                <div class="card-body d-flex flex-wrap align-items-start">
                    <span class="p-1 rounded me-2" style="cursor:pointer;">Cursor</span>
                </div>
            </div>
        </div>
    </div>
</div>